# Node modules
node_modules/

# Environment variables
.env

# Firebase secrets
config/serviceAccountKey.json

# Firebase web config (if present)
config/firebaseConfig.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
